{{ 'video-section.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}
{{ 'component-video-with-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
	.section-{{ section.id }}-padding {
	padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
	padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
	}

	@media screen and (min-width: 750px) {
	.section-{{ section.id }}-padding {
	padding-top: {{ section.settings.padding_top }}px;
	padding-bottom: {{ section.settings.padding_bottom }}px;
	}
	}
{%- endstyle -%}

<div class="video-with-text video-with-text--{{ section.settings.content_layout }} page-width isolate{% if settings.text_boxes_border_thickness > 0 and settings.text_boxes_border_opacity > 0 and settings.media_border_thickness > 0 and settings.media_border_opacity > 0 %} collapse-borders{% endif %}{% unless section.settings.color_scheme == 'background-1' and settings.media_border_thickness > 0 and settings.text_boxes_shadow_opacity == 0 and settings.text_boxes_border_thickness == 0 or settings.text_boxes_border_opacity == 0 %} collapse-corners{% endunless %} section-{{ section.id }}-padding">
	<div class="video-with-text__grid grid grid--gapless grid--1-col grid--{% if section.settings.desktop_image_width == 'medium' %}2-col-tablet{% else %}3-col-tablet{% endif %}{% if section.settings.layout == 'text_first' %} video-with-text__grid--reverse{% endif %}">
		<div class="video-with-text__media-item video-with-text__media-item--{{ section.settings.desktop_image_width }} video-with-text__media-item--{{ section.settings.desktop_content_position }} grid__item">
			<div
							class="video-with-text__media video-with-text__media--{{ section.settings.height }} gradient color-{{ section.settings.color_scheme }} global-media-settings {% if section.settings.image != blank %}media{% else %}video-with-text__media--placeholder placeholder{% endif %}"
							{% if section.settings.height == 'adapt' and section.settings.image != blank %}
								style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"
							{% endif %}
			>
				{%- if section.settings.image != blank -%}
					{%- capture sizes -%}
						(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
						(min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
					{%- endcapture -%}
					{{
					section.settings.image
					| image_url: width: 1500
					| image_tag: loading: 'lazy', sizes: sizes, widths: '165, 360, 535, 750, 1070, 1500'
					}}
				{%- else -%}
					{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
				{%- endif -%}
			</div>
		</div>
		<div class="video-with-text__text-item grid__item">
			<div
							id="ImageWithText--{{ section.id }}"
							class="video-with-text__content video-with-text__content--{{ section.settings.desktop_content_position }} video-with-text__content--desktop-{{ section.settings.desktop_content_alignment }} video-with-text__content--mobile-{{ section.settings.mobile_content_alignment }} video-with-text__content--{{ section.settings.height }} gradient color-{{ section.settings.color_scheme }} content-container"
			>
				{%- for block in section.blocks -%}
					{% case block.type %}
						{%- when 'heading' -%}
							<h2 class="video-with-text__heading {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
								{{ block.settings.heading | escape }}
							</h2>
						{%- when 'caption' -%}
							<p
											class="video-with-text__text video-with-text__text--caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }} {{ block.settings.text_style }}"
											{{ block.shopify_attributes }}
							>
								{{ block.settings.caption | escape }}
							</p>
						{%- when 'text' -%}
							<div class="video-with-text__text rte {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
								{{ block.settings.text }}
							</div>
						{%- when 'button' -%}
							{%- if block.settings.button_label != blank -%}
								<a
												{% if block.settings.button_link == blank %}
													role="link" aria-disabled="true"
												{% else %}
													href="{{ block.settings.button_link }}"
												{% endif %}
												class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
												{{ block.shopify_attributes }}
								>
									{{ block.settings.button_label | escape }}
								</a>
							{%- endif -%}
					{%- endcase -%}
				{%- endfor -%}
			</div>
		</div>
	</div>
</div>